h1,h2,h3,.el-table{
  color:#333 !important;
}
.el-dialog{
  margin-top: 0!important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .el-dialog__header{
    display: none
  }
  .el-dialog__body{
    padding: 20px;
  }
}

.el-form{
  .el-form-item{
    margin-bottom: 0;
  }
}

.el-select-dropdown{
  margin-top: 0 !important;
}

// dialog里嵌套upload
.el-dialog{
  .el-upload{
    width: 100%;
    .el-upload-dragger{
      width: auto;
    }
  }
}