h1,h2,h3,.el-table{
  color:#333 !important;
}
.el-dialog{
  margin-top: 0!important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  .el-dialog__header{
    display: none
  }
  .el-dialog__body{
    padding: 20px;
  }
}

.el-form{
  .el-form-item{
    margin-bottom: 0;
  }
}

.el-select-dropdown{
  margin-top: 0 !important;
}


.side{

  &.active{
    padding-left: 200px;
    .el-menu-item{
      transform: translate3d(0,0,0)  rotate(0deg)!important;
    }

    ul.el-menu{
      background-color: #545c64 !important;
    }
  }

  .el-menu{
    background-color:transparent !important;
    transition: all .6s ease;
  
    .el-menu-item{
      background-color: transparent !important;
    }
  
    @for $i from 0 to 20{
      .el-menu-item:nth-of-type(#{$i}){
        transform: translate3d(-100%,0,0) rotate(180deg);
        transition: all .3s+0.1s*$i ease;
      }
    }
  }
}